# search engine
spacy

# infrastructure
dvc[ssh]
scikit-learn
notebook

# research (investigations)
plotly
nltk
pymorphy3

# images
opencv-python

# packages for GitHub Page build
-r gh_pages/py_reqs.txt
