# search engine
spacy

# infrastructure
dvc[ssh]
scikit-learn
notebook
ipywidgets

# research (investigations)
plotly
nltk
pymorphy3
torch --index-url https://download.pytorch.org/whl/cpu
transformers
sentence_transformers
yargy
ipymarkup

# images
opencv-python

# packages for GitHub Page build
-r gh_pages/py_reqs.txt
